* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
}

h1 {
  text-align: center;
}

#container {
  width: 700px;
  margin: 30px auto;
}

#main-nav {
  display: flex;
  justify-content: right;
}

#main-nav a {
  padding: 8px;
}

input,
textarea,
select {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: #dddddd;
}

#title-textarea,
#author-textarea {
  line-height: 30px;
  font-size: 17px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.big-button {
  width: 60%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
}

form a {
  width: 100%;
  display: block;
  text-align: right;
}

a {
  text-decoration: none;
  color: darkblue;
}

a:hover {
  text-decoration: underline;
  color: rgba(42, 42, 187, 0.692);
}

#main-nav {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

table,
th,
td {
  border: 1px solid;
  padding: 10px;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
}
